/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Main Banner */

.main-banner {
  background: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
  padding-top: 1rem;
}

/* Company logo heading settings */

.container.top {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cadetblue;
  align-items: center;
}

.logo {
  display: flex;
  height: 3rem;
  border-top: 1rem;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  padding-left: 1rem;
}

.menu {
  display: flex;
  padding-right: 1rem;
}

.menu ul {
  display: flex;
  align-items: center;
}

ul li {
  padding: 0rem 1rem;
}

ul.small-screen {
  display: none;
}

/* Caption settings */

.caption {
  display: inline-flex;
  background-color: white;
  padding: 1.5rem 5rem;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2rem;
  width: auto;
  margin-top: 10rem;
  margin-right: -2rem;
}

.flex {
  display: flex;
}

.main-banner .flex {
  justify-content: flex-end;
}

/* Category settings */

.cat {
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  margin: 3rem 0rem;
  justify-content: space-between;
  width: 25.5rem;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exams img {
  width: 3.5rem;
}

.fittings img {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}

/* Store information settings */

.info {
  display: flex;
  justify-content: center;
}

.store-info {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.store {
  width: 47.5%;
}

.store h2 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  width: 10rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

footer .logo {
  padding: 4rem 0rem 4rem 4rem;
  background-color: azure;
  margin-top: 5rem;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  .main-banner {
    padding-top: 0rem;
    height: 22rem;
  }
  .caption {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-banner .logo {
    background-position: 20%;
  }
  .main-banner {
    height: 17rem;
  }
  .caption {
    margin-top: 9rem;
    padding: 1rem 0rem;
    width: 100%;
    margin-right: 0rem;
    justify-content: center;
  }
  ul.large-screen {
    display: none;
  }
  ul.small-screen {
    display: flex;
  }
  .categories {
    flex-direction: column;
    margin: 3.77rem 0rem;
    font-size: 0.77rem;
    height: 20rem;
  }
  .image {
    height: auto;
  }
  .image img {
    margin-bottom: 0.5rem;
  }
  .store-info {
    flex-direction: column;
    width: 100%;
  }
  .store {
    width: 100%;
    align-items: center;
  }
  .store h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 0.77rem;
  }
  .store p {
    padding: 1rem 0rem 4rem 0rem;
  }
  footer .logo {
    padding-left: 0rem;
    justify-content: center;
  }
  footer span {
    display: none;
  }
}
